@font-face {
  font-family: "Segoe WP";
  src: url("assets/fonts/SegoeWP.eot");
  src: url("assets/fonts/SegoeWP.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/SegoeWP.woff2") format("woff2"),
  url("assets/fonts/SegoeWP.woff") format("woff"),
  url("assets/fonts/SegoeWP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: "Lucida Sans";
  src: url("assets/fonts/LucidaSans.eot");
  src: url("assets/fonts/LucidaSans.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/LucidaSans.woff2") format("woff2"),
  url("assets/fonts/LucidaSans.woff") format("woff"),
  url("assets/fonts/LucidaSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Asap";
  src: url("assets/fonts/Asap-Regular.eot");
  src: url("assets/fonts/Asap-Regular.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/Asap-Regular.woff2") format("woff2"),
  url("assets/fonts/Asap-Regular.woff") format("woff"),
  url("assets/fonts/Asap-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/SegoeUI.eot");
  src: url("assets/fonts/SegoeUI.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/SegoeUI.woff2") format("woff2"),
  url("assets/fonts/SegoeUI.woff") format("woff"),
  url("assets/fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"),
  url("assets/fonts/open-sans/opensans.woff2") format("woff2"),
  url("assets/fonts/open-sans/opensans.woff") format("woff"),
  url("assets/fonts/open-sans/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("assets/fonts/ptsans/PTSans-Regular.eot");
  src: url("assets/fonts/ptsans/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/ptsans/PTSans-Regular.woff2") format("woff2"),
  url("assets/fonts/ptsans/PTSans-Regular.woff") format("woff"),
  url("assets/fonts/ptsans/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("assets/fonts/ptsans/PTSans-Narrow.eot");
  src: url("assets/fonts/ptsans/PTSans-Narrow.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/ptsans/PTSans-Narrow.woff2") format("woff2"),
  url("assets/fonts/ptsans/PTSans-Narrow.woff") format("woff"),
  url("assets/fonts/ptsans/PTSans-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 566px;
  background-image: url("assets/images/background-header.png");
  background-size: cover;
}

.logo {
  display: flex;
  font-size: 41px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans", sans-serif;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  margin: 27px 0 0 139px;;
  float: left;
  justify-content: center;
  justify-items: center;
  }

  .logo p {
  padding: 26px 0 0 3px;
  }

.navbar {
  width:453px;
  height: 41px;
  margin: 70px 140px 0 0;
  float: right;
}

.navbar ul {
  display: flex;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  box-shadow: -8px -8px rgba(185, 164, 53, 0.27), -4px -4px rgba(185, 164, 53, 0.27);
  justify-content: space-between;
}

.border {
  border-left:solid grey 1px;
  border-right:solid grey 1px;
  width: 131px;
}

.navbar ul li {
  height: 41px;
  text-transform: uppercase;
}

.navbar ul li a {
  display: block;
  font-size: 17px;
  letter-spacing: 0px;
  color: #9b7d08;
  font-family: "Segoe WP", sans-serif;
  text-align: center;
  text-decoration: none;
}

.ali1 {
  width: 172px;
}

.ali3 {
  width: 147px;
}

.div_h1 {
  display: block;
  font-family: "Asap", sans-serif;
  font-size: 63px;
  width: 409px;
  float: left;
  padding: 136px 0 0 281px;
}

h1 {
  letter-spacing: 1px;
  color: #f5c506;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  width: 420px;
  margin: 6px 0 0 18px;;
}

h1 p {
  color: white;
  margin: 13px 0 0 17px;
}

.div_main1 {
  margin: 0px 140px;
  background-color: white;
  align-content: center;
  display: block;
  align-content: center;
  height: 212px;
}

.slider {
  position: absolute;
  margin-top: -400px;
}

.slider-video {
  position: absolute;
  height: 325px;
  width: 550px;
  object-fit: none;
  object-position: -153px 0px;
  margin: 1px 0 0 148px;;
}

.arrow-left, .arrow-right {
  position: absolute;
  margin-top: 134px;;
}

.arrow-right {
  margin-left: 1267px;
}

.icons {
  display: grid;
  grid-template-rows: 150px 62px;
  grid-template-columns: 339px 339px 339px;
  height: 212px;
  margin: 0px 0 0 18px;
  justify-content: center;
  justify-items: center;
}

.icon > div {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cloud-icon {
  padding: 58px 29px 0 0px;
}

.leaf-icon {
  padding: 34px 3px 0px 0px;
}

.arrow-icon {
  padding: 51px 40px 0 0;
}

.icons p {
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 0px;
  color: #000000;
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
  text-align: center;
}

.td-p3 {
  margin: 8px 0 0px -18px;
}

.section1 {
  height: 508px;
  background-image: url("assets/images/background-news.png");
  background-size: 100%;
}

.headen {
  margin: 37px 0px 0px 141px;;
  position: absolute;
  word-spacing: 2px;
}

.headen p {
  font-size: 37px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.window1 {
  background-color: #ec9e03;
  height: 235px;
  width: 341px;
  position: absolute;
  margin: 110px 0px 0px 140px;
}

.window1 p {
  word-spacing: -2px;
}

.wind1 {
  font-size: 29px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP", sans-serif;
  font-weight: 300;
  height: 235px;
  width: 341px;
  margin: 16px 0px 0px 28px;
}

.video-container2 {
  margin: 110px 0px 0px 446px;
  position: absolute;
}

.window2 {
  background-color: #ec9e03;
  height: 235px;
  width: 330px;
  position: absolute;
  margin: 110px 0px 0px 829px;
}

.number22 p{
font-size: 25px;
letter-spacing: 0px;
line-height: 38px;
color: #ffffff;
font-family: "Segoe WP", sans-serif;
font-weight: 300;
margin: 9px 0 -47px 285px;
}

.twitter {
  margin: 58px 82px;
}

.plus {
  position: absolute;
  width: 694px;
  display: flex;
  justify-content: space-between;
  margin: 318px 0 0 455px;
  cursor: pointer;
}

.plus img:hover {
  transform: scale(1.5);
}

.date {
  background-color: #ddb101;
  height: 82px;
  width: 111px;
  position: absolute;
  margin: 345px 0px 0px 140px;
  text-transform: uppercase;
}

.day {
  font-size: 51px;
  letter-spacing: 1px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  position: absolute;
  margin: 11px 0px 0px 28px;
}

.month {
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #b26529;
  font-family: "Segoe UI", sans-serif;
  position: absolute;
  margin: 47px 0px 0px 32px;
}

.sliderL {
  position: absolute;
  margin: 471px 0 0px 211px;
}

.div-main3 {
  height: 497px;
  background-image: url("assets/images/main3.png");
}

.phrase {
  text-transform: uppercase;
  width: 918px;
  height: 60px;
  font-size: 43px;
  letter-spacing: 0px;
  color: #f5c506;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 0 193px;
  text-align: center;
  padding-top: 42px;
}

.phrase p {
  word-spacing: 2px;
}

.circle {
  position: absolute;
  margin: -9px 0px 0px 137px;
  z-index: 5;
}

#in-circle {
  position: absolute;
  font-size: 19px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  margin: 52px 0px 0px 7px;
  text-transform: uppercase;
  word-spacing: 3px;
}

.pictures {
  margin: 35px 0px 0px 158px;
  float: left;
}

.pictures img {
  padding: 0px 21px 0px 0px;
}

.computer {
  opacity: 0.57;
}

.tablet {
  margin-bottom: 39px;
  opacity: 0.47;
}

.phone {
  margin-bottom: 40px;
  opacity: 0.57;
}

.list {
  float: right;
  margin: 81px 140px 0px 0px;
}

.list ul li {
  width: 360px;
  height: 45px;
  font-size: 22px;
  letter-spacing: 0px;
  color: #a9a9a7;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  list-style-image: url("assets/images/list.png");
}

.list li p {
  word-spacing: 1px;
  padding-left: 12px;
}

.list_li1 {
  padding-bottom: 4px;
}

.list_li2 {
  line-height: 25px;
  padding-bottom: 22px;
}

.list_li3 {
  padding-bottom: 5px;
}

.list_li4 {
  line-height: 25px;
}

footer {
  height: 66px;
  background-color: #4c4c4c;
  background-size: 100%;
  box-shadow: 0px -4px 14px 0px rgba(0, 0, 0, 0.8);
  height: 63px;
}

footer p {
  margin: 20px 0 0 4px;
  margin: 1px 0 0 5px;
}

.footer-logo {
  font-size: 29px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans", sans-serif;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: left;
  margin: 0px 0 0 139px;
    padding: 5px 0 0 0px;
}

.footer-logo p {
  display: flex;
  align-items: center;
}

@media screen and (max-width:640px){
  #container {
    width: 1020px;
  }

  .div_h1 {
    display: none;
  }

  .slider-video {
    position: absolute;
    object-fit: none;
    object-position: 0px 0px;
    margin-left: 0px;
  }

  .arrow-left, .arrow-right {
    display: none;
  }

.logo {
  font-size: 19px;
  box-shadow: 1px 1.732px 0px rgba(0,0,0,0.42);
  width: 40px;
  height: 39px;
  border-radius: 6px;
  margin: 0px 0px 0px 0px;
}

.navbar {
  width: 457px;
  height: 62px;
  background-color: #f5c506;
  margin: 0px 0px 0px 0px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px rgba(185, 164, 53, 0.27), 0px 0px rgba(185, 164, 53, 0.27);
}

.navbar ul li {
  width: 152px;
  height: 62px;
}

.navbar ul li a {
  width: 151px;
  font-size: 19px;
}

.window2 {
  display: none;
}

.date {
  display: none;
}

.list {
  display: none;
}
}
